$primary-normal: #06121e;

$white-normal: #FFF;

$red-normal: #d94140;
$red-light: #d34040;

$surface-dark: #242021;    //Fundo do header e footer
$surface-normal: #1b1c20;  //Fundo do quadro de serviços

$gray-divider: #454649;    //Linhas de divisão
$yellow-normal: #F5B921;   //Títulos de destaque e pontilhados
