.presentation {
    padding: 0px 16px;
    text-align: center;

    &-title {
        color: $white-normal;
        font-size: 32px;
        margin-bottom: 40px;
    }

    &-gallery {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 16px;

        img {
            width: 100%;
            height: auto;
            border-radius: 4px;

            // Oculta a 4ª imagem na visualização mobile (1 coluna)
            &:nth-child(4) {
                display: none;
            }
        }

        // Breakpoint para Tablets (exibe 2 colunas e 4 fotos)
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);

            img:nth-child(4) {
                display: block; // Reexibe a 4ª imagem
            }
        }

        // Breakpoint para Desktop (exibe 4 colunas e 4 fotos)
        @media screen and (min-width: 900px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}